<br/>
<div class="card">
  <h5 class="card-header">Editing Friend</h5>
  <div class="card-body">

<br/>

<%= render 'form', friend: @friend %>
<% if @friend.user == current_user %>
<%= button_to 'Delete Friend', @friend, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-outline-danger"%>
<% end %>
</div></div><br/>


<%= link_to 'Show', @friend ,class:"btn btn-secondary"%>
<%= link_to 'Back', friends_path ,class:"btn btn-outline-dark"%>

 

