<div class="container">
  <div class="row">
    <div class=" col-lg">
    <br>
<h1>Friends App</h1>
<p></p>
<% if !user_signed_in? %>
<p>Login to get started!</p><%end%>
<div class="actions">
<% if !user_signed_in? %>
    <%= link_to 'Log In', new_user_session_path , class:"btn btn-success"%> 
    <%end%>
    <%= link_to 'View List', friends_path , class:"btn btn-outline-primary"%>
</div>
    </div>
    <div class="col-sm">
    <br>
<div class="card">
  <div class="card-header">
    Info
  </div>
  <div class="card-body ">
    <h5 class="card-title">Created by nmpereira </h5>
    <p class="card-text">A project for a friend list app that uses CRUD based on Ruby on rails!</p>
    <a href="https://github.com/nmpereira/FriendsDB-railsfriends" class="btn btn-primary">Go to GitHub</a>
    <a href="https://nmpereira.com" class="btn btn-secondary">Go to Portfolio site</a>
  </div>
</div>
    </div>

  </div>
</div>












